* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    background-image: url(../images/banner-cover.png);
    right: -2px;
    top: -5px;
    width: 109%;
    height: 100%;
    background-position: right top;
    background-size: 60%;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}

/* toggle bar css from codepen  */

.toggle {
    cursor: pointer;
    overflow: hidden;
    width: 81px;
    height: 71px;
    background: #1c73c1;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-toggle {
    position: absolute;
    display: block;
    width: 37px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .6s;
}

.line-toggle:first-child {
    transform: translateY(-14px) translateX(0px);
    width: 36px;
    transition-delay: 0s;
}

.toggle .line-toggle:nth-child(2) {
    transition-delay: .12s;
}

.line-toggle:last-child {
    transform: translateY(14px) translateX(0px);
    width: 36px;
    transition-delay: 0s;
}

.toggle.activate .line-toggle:first-child {
    background: #f8f9fa;
    transform: translateY(0) translateX(0) rotate(45deg);
    width: 50px;
    height: 6px;
    transition-delay: .1s;
}

.toggle.activate .line-toggle:nth-child(2) {
    transform: translateX(110px);
    transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
    background: #f8f9fa;
    transform: translateY(0) translateX(0) rotate(314deg);
    width: 50px;
    height: 6px;
    transition-delay: .1s;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: transparent;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

/* togglebar css ends  */

.navbar-light .navbar-nav .nav-link {
    margin-right: 20px;
    color: #fff;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .4s all ease-in;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
    color: #fff;
}

.btn-contact {

    color: #fff;

    border: none;

    border: 0.3px solid #fff;

    padding: 0;

    padding: 11px 17px;

    border-radius: 6px;

    background: #0f65b3;
}

.btn-contact:hover {
    background-color: transparent;
    border: none;
    border: 2px solid #0961b1;
    color: #0961b1;
    font-weight: 600;
}

.nav-item .btn-contact:hover {
    color: #fff;
    border: 1px solid #fff;
}

.main_header {}

.content h1 {

    font-weight: 700;
}

.content span {

    color: #267cc9;
}

.content p {
    color: #242424;
    font-weight: 600;
    margin: 20px 0;
}

.main_header a {}

.header_content {}

.main_header a {}

.header_content {}

.banner {
    background-image: url(../images/feature-cover.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.banner_height {

    align-items: center;
}

.icon {

    border: #fff;

    background-color: #fff;

    border-radius: 30px;

    padding: 40px 81px 50px 48px;

    height: 99%;

    box-shadow: 0px 6px 5px #eaeaea;
}

.icon_box {
    justify-content: space-between;
}

.icon_box img {

    width: 23%;

    height: 100%;

    margin-right: 33px;
}

.icon_box h2 {
    font-size: 29px;
    font-weight: 600;
    padding-right: 30px;
}

.icon p {

    font-size: 14px;

}

.get_started {
    background-image: url(../images/feature-two-cover.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

.css span {

    color: #0961b1;
}

.css .icon_box {
    position: relative;
}

.css .icon_box a {

    font-size: 23px;

    color: green;
}

.css .icon_box h2 {

    font-size: 25px;

    margin-left: 22px;
}

.css .icon p {}

.fa-circle-xmark:before,
.fa-times-circle:before,
.fa-xmark-circle:before {
    content: "\f057";
    color: red
}

.css .icon:hover {
    background-color: #f3f3f3;
}

.css h1 {

    text-transform: capitalize;

    color: #242424;

}

.process_content {

    position: relative;

    background: #f3f3f3;
    padding: 30px;

    border-top-left-radius: 35%;

    border-top-right-radius: 35%;

    text-align: center;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 30px;

    min-height: 385px;
}

.css h3 {

    margin-top: 20px;

    color: #242424;

    font-weight: 700;

    font-size: 24px;
}

.process_content p {

    padding: 30px;

    color: #242424;
}

.process_number {

    height: 70px;

    width: 70px;

    background: #fff;

    border-radius: 50%;

    display: flex;
    align-items: center;

    justify-content: center;

    position: absolute;

    left: 50%;

    transform: translate(-50%);

    top: -35px;

    box-shadow: 4px 5px 15px 5px #d7d7d7;
}

.process_number h5 {
    background: #0c63b2;
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 0;
}

.industries_we_serve {
    background-image: url(../images/feature-three.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.we_serve {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 3px #d6dee5;
    height: 385px;
}

.we_serve h3 {}

.we_serve ul {
    list-style: none;
    padding-top: 20px;
}

.we_serve ul li {}

.we_serve ul li i {

    color: #0961b1;

    padding-right: 5px;
}

.serve_img {}

.serve_img img {
    width: 42%;
}

.accordion-item {

    margin-bottom: 15px;

    background: #fff;

    border: none;

    box-shadow: 3px 3px 2px 2px #e9ecef;

    border-radius: 33px;

    overflow: hidden;
}

.accordion-button p {
    font-weight: 700;
    margin-left: 40px;
    color: #000;
}

.accordion-button {

    border: none;
}

.accordion-item:hover {

    border: none;
}

.accordion-button:not(.collapsed) {

    color: #000;
    background-color: #fff;
    box-shadow: none
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none;
}

.accordion-button::after {

    position: absolute;

    left: 16px;

    font-family: "Font Awesome 6 free";

    content: "\2b";

    background-image: none;
    color: #0f65b3;
}

.accordion-button:not(.collapsed)::after {

    content: "\f017";
    position: absolute;
    background-image: none;
    --fa-style-family-brands: "Font Awesome 6 Brands";
    color: #0f65b3;

}

.accordion-item:first-of-type {
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
}

footer {
    background-image: url(../images/footer-cover.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 62%;
}

.footer_icons {}

.footer_icon {}

.footer_icon a {
    font-size: 20px;
    margin-right: 28px;
}

.footer_icon p {}

.d-flex {
    align-items: center;
}

.footer_img {}

.mid_footer {}

.mid_footer img {
    width: 35%;
}

.mid_footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    font-weight: 400;
}

.mid_footer span {

    font-weight: 600;
}

.mid_footer .btn-contact {
    background: transparent;
    margin: 0;
}

.mid_footer .btn-contact:hover {

    border: 1px solid #fff;

    color: #fff;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.bottom_footer {}

.copyright p {

    font-size: 13px;

    font-weight: 400;
}

.privacy p {

    color: #fff;

    font-size: 13px;

    font-weight: 400;
}